* {
	margin: 0;
	padding: 0;
	border: 0 none;
	cursor: not-allowed !important;
}

body {
	font-family: "Consolata", monospace;
	font-size: 8px;
	background: linear-gradient(45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
}

header {
	margin: 120px 0 0;
}

nav a {
	animation: pulse .2s infinite;
	position: fixed;
	left: 0;
	top: 0;
	background: red;
	font-size: 20px;
	padding: 40px;
	margin: 40px;
	border-radius: 50%;
}



@keyframes pulse {
	0%, 100%  {
		background-color: lime;
	}
	33% {
		background-color: blue;
	}
	66% {
		background-color: #ff0080;
	}

}

iframe { 
	margin: 100px 0;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {

	from { -webkit-transform: rotate(0deg) }
	to { -webkit-transform: rotate(359deg) }

}

main {
	text-align: center;
}

.left {
	transform: scale(4);
	float: left;
}

.right {
	float: right;
	text-decoration: underline;
}

.knacker {
	display: inline-block;
}

.knacker:nth-child(odd) {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.knacker:nth-child(even) {
	background: yellow;
	color: white;
	margin: 20px 0 5px;
	transform: translate(30px, 20px) rotate(20deg);
}

.toilet {
	position: fixed;
	left: -120px;
	top: 50%;
	opacity: .5;
	border: 10px solid pink;
	transform: rotate(-15deg);
}

.cursorImage {
	position: absolute;
}

.wisdom {
	padding: 40px 20px;
	background: black;
	color: white;
	width: 600px;
	position: fixed;
	left: 50%;
	right: 50%;
	bottom: 0;
	transform: skew(15deg);
	z-index: 666;
	font-size: 13px;
	text-shadow:
	4px 4px 1px #300000,
	4px 6px 1px #400000,
	4px 8px 1px #500000,
	4px 10px 1px #600000,
	4px 12px 1px #700000,
	4px 14px 1px #800000,
	4px 16px 1px #900000,
	4px 18px 1px #A00000,
	4px 20px 1px #B00000,
	4px 22px 1px #C00000,
	4px 24px 1px #D00000,
	4px 26px 1px #E00000,
	4px 28px 1px #F00000,
	4px 30px 1px #FA0000,
	4px 32px 1px #FB0000,
	4px 34px 1px #FC0000,
	4px 36px 1px #FD0000,
	4px 38px 1px #FE0000,
	4px 40px 2px #FF0000;
}

.picto {
	text-align: center;
}

.picto img {
	width: 12%;
}

.picto img:nth-child(odd) {
	border: 10px solid pink;
}

.picto img:nth-child(even) {
	border: 20px solid red;
}