* {
	margin: 0;
	padding: 0;
	border: 0 none;
	cursor: not-allowed !important;
}

body {
	background: linear-gradient(135deg, #feccb1 0%,#33ef00 27%,#f17432 50%,#ea5507 51%,#474966 78%,#0800ff 90%,#fb955e 100%);
	font-size: 8px;
}

header {
	margin: 120px 0 0;
}

nav a {
	position: fixed;
	left: 0;
	top: 0;
	background: red;
	font-size: 20px;
	padding: 40px;
	margin: 40px;
	border-radius: 50%;
}

iframe { 
	margin: 100px 0;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {

		from { -webkit-transform: rotate(0deg) }
		to { -webkit-transform: rotate(359deg) }

}

main {
	text-align: center;
}

.left {
	transform: scale(4);
	float: left;
}

.right {
	float: right;
	text-decoration: underline;
}

.knacker {
	display: inline-block;
}

.knacker:nth-child(odd) {
	  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.knacker:nth-child(even) {
	background: yellow;
	color: white;
	margin: 20px 0 5px;
	transform: translate(30px, 20px) rotate(20deg);
}

.toilet {
	position: fixed;
	right: 0;
	top: 50%;
	opacity: .5;
	border: 10px solid pink;
	transform: rotate(270deg);
}

