body{
    font-family: sans-serif;
    text-align: center;
}
#home_container{
    margin-top: 50px;
}

#home{
    text-decoration: none;
    background-color: rgb(228, 47, 47);
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
}

#hb_vid{
    margin: 50px;
}

/*---------------------ITEMS SECTION---------------*/
#items_container{
    display: inline-block;
}

.item-container{
    margin: 10px 50px;
    display: inline-block;
    width: 20%;
}

.info-container{
    text-align: left; 
}

.animals{
    height: 200px;
    width: 100%;
}