* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#curse-body {
  height: 100vh;
  width: 100%;
  background: url(../images/Hex/Castlevania-Season-3-Netflix.jpg) center/cover
    no-repeat;
}

#img {
  width: 700px;
  height: 400px;
  background: url(../images/Hex/main-qimg-c7cc6b19aaf7b539048465176d5c8d58.png)
    center/cover no-repeat;
}
h1 {
  color: white;
  text-align: center;
}
nav {
  background: rgba(168, 16, 16, 0.534);
}
ul {
  /* width: 100%; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ul li {
  /* background: green; */
  /* margin: 0 auto; */
  /* overflow: auto; */
}
ul li a {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

/* Curses */
.curse {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(1, 179, 250);
  font-weight: 900;
}
.explain {
  text-align: center;
  color: rgb(224, 248, 4);
  font-size: 2rem;
}
