body{

    background-color: cyan;
}
.div1{
    background-color: black;
    float: right;
}

#imgrocket{
    position: relative;

}
h1{
    font-style: italic;
    font-family:serif;
    background-color: red;
    background-size: 20%;
    float: left;
}