body{
    animation-name: changeBGColor;
    animation-duration: 30s;
    background-color: blue;
}

@keyframes changeBGColor{
    from{background-color: rgb(255, 0, 0);}
    to{background-color: rgb(0, 0, 255);}
}


.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}
img{
    width: 20%;
    height: auto;
}

#contentDiv{
    text-align: center;
}

.usDiv{
    width: 45%;
    float: left;
    margin: 0.75%;
    padding: 1%;
}

.usImageDiv{
    text-align: center;
    width: 45%;
    float: left;
    margin: 0.75%;
    padding: 1%;
}

.usTextDiv{
    text-align: left;
    width: 45%;
    float: left;
    margin: 0.75%;
    padding: 1%;
    background-color: lightcoral;
}

.usImage{
    width: 80%;
    height: auto;
}

.usButton{
    width: 20%;
}

.usButton:hover{
    background-color: green;
    scale: 1.5;
}