.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}


#contentDiv{
    text-align: center;
}

.usDiv{
    width: 45%;
    float: left;
    margin: 0.75%;
}

.usImageDiv{
    text-align: center;
    width: 45%;
    float: left;
    margin: 0.75%;
}

.usTextDiv{
    text-align: left;
    width: 45%;
    float: left;
    margin: 0.75%;
}

.usImage{
    width: 80%;
    height: auto;
}